<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css' rel='stylesheet'/>
</head>
<body>
<div class="container">

    <h1>Department Details
        <span class="pull-right">
            <a class="btn btn-primary" href="/department/list">List departments</a>
            <!--<a class="btn btn-warning" th:href="@{'/department/edit/'+${department.id}}">Edit Department</a>-->
            <!--<a class="btn btn-danger" th:href="@{'/department/delete/'+${department.id}}">Delete Department</a>-->
        </span>
    </h1>
    <hr/>
    <table class="table table-bordered">
        <tr>
            <th>Id</th>
            <td th:text="${department.id}">id</td>
        </tr>
        <tr>
            <th>Name</th>
            <td th:text="${department.name}">name</td>
        </tr>
        <tr>
            <th>Employees</th>
            <td>
                <a class="btn btn-link" th:href="@{'/employee/list/'+${department.id}}">Employees</a>
            </td>
        </tr>
    </table>
</div>
</body>
</html>